body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #ccc;
}
 
main{
  min-height: 90vh;
}
 .page-head{
  font-weight: bold;
 }
.App{
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
 }
 header {
  background-color: rgb(76, 181, 249);
  color: #fff;
  a{
    &:hover{
       color: #fff;
      cursor: pointer;
    }
  }
}

.links{
  color: white;
padding: 1rem;
display: flex;
gap: 1rem;
justify-content: center;
text-decoration: none;
}

 .card{
  min-width: 200px;
  min-height: 200px;
  padding: 6px;
  margin: 0 auto;
  background-color:rgb(76, 181, 249);
  color: #fff;
  border-radius: 10px;
  font-family: 'Times New Roman', Times, serif;
 }
 .card-container{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px,1fr));
  gap: 1rem; 
  margin-bottom: 2rem;
}
.button-container{
  display: flex;
  gap: 1rem;
  justify-content: center;
}
button {
  position: relative;
  background-color: #04AA6D;
  border: none;
  color: #FFFFFF;
  padding: .5rem;
  text-align: center;
  border-radius: .5rem;
  &:hover{
    opacity: .5;
    cursor: pointer;
  }
}
 
.input input{
display: flex; 
flex-direction: column;
 
 width: 55%;
 border-radius: .5rem;
 padding: .5rem;
margin: 0 auto;
gap: 0.5rem;
}
.responsive{
   width: 100%; 
}

footer {
  background-color: #333;
  color: #fff;
  padding: 20px 0;
  text-align: center;
}

.social-links a {
  color: #fff;
  font-size: 24px;
  margin: 0 10px;
}

.social-links a:hover {
  color: #ccc;
}

@media screen and (min-width: 800px) {
  .input input {
    width: 30% ;
  }
  
}